.large-hero {
    position: relative;

    &__text-content{
        position: absolute;
        top: 50%; /*Centering vertically */
        left: 0;
        transform : translateY(-50%); /*Centering vertically */
        
        width: 100%; /*Centering horizontally */
        text-align: center; /*Centering horizontally */
    }

    &__title{
        font-weight: 300;
        color: $mainBlue;
        font-size: 4.8rem;
        margin: 0;
    }

    &__subtitle{
        font-weight: 300;
        color: $mainBlue;
        font-size: 2.9rem;
        margin: 0;
    }

    &__description{
        color: #fff;
        font-size: 1.875rem;
        font-weight: 100;
        max-width: 30rem;
        margin-left: auto;
        margin-right: auto;
    }

}
